.game {
    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.score-container {
    display: flex;
    flex-direction: column;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 10px;
    max-width: 100%;
}

.card {
    max-width: 200px;

    background-color: red;
}

.card > img {
    width: 95%;
}