#root {
  min-height: 100vh;
  text-align: center;
  width: 100%;
  background-color: #010A13;
}

body {
  background-color: #010A13;
}

.controls-menu {
  position: fixed;
  z-index: 1000;

  width: 100%;
  height: 64px;

  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-end;

  right: 16px;
}

.controls-menu button {
  height: 40px;
  background-color: #1E2328;
  border: 2px solid #A09B8C; 
}

.controls-menu button:not(:disabled):hover {
  border-color: #C8AA6E;
  color: #C8AA6E;
}

.controls-menu button:first-child {
  box-sizing: border-box;
  position: absolute;
  right: calc(50% - 16px - 64px);

  width: 128px;
  font-size: 1.2rem;
  padding: 0;
}

.loading-title {
  height: 100vh;
}